__pycache__/
*.sif
wandb/
.conda/
electrolyte-fm/
lightning_logs/
.venv/

# Log files
*.o*
*.e*

# Checkpoints
*.ckpt/
*.ckpt
mist/
mist

# NSight
*.nsys-rep
*.sqlite
*.qdstrm

# Dataset
.cache/

# Julia
Manifest.toml
LocalPreferences.toml
.CondaPkg/
*.jdl2

# Spack
.spack-env/
spack.lock

# Output files
*.json
*.jsonl
*.bson
*.png
*.pdf
*.h5
*.csv
