__pycache__/
*.sif
wandb/
.conda/
electrolyte-fm/
lightning_logs/
.venv/
Manifest.toml

# Log files
*.o*
*.e*

# Checkpoints
*.ckpt/
*.ckpt
mist/
mist

# NSight
*.nsys-rep
*.sqlite
*.qdstrm

# Dataset
.cache/

# Julia
Manifest.toml
LocalPreferences.toml

# Spack
.spack-env/
spack.lock

# figures
*.pdf

# outputs
*.json
*.tar.xz
*.tar.gz
*.tar
*.jsonl
*.jld2
