__pycache__/
*.sif
wandb/
.conda/
electrolyte-fm/
lightning_logs/
.venv/
data/

# IDE settings
.DS_Store
*/.DS_Store/

# Log files
*.o*
*.e*

# Checkpoints
*.ckpt/
*.ckpt
mist/
mist

# NSight
*.nsys-rep
*.sqlite
*.qdstrm

# Dataset
.cache/

# Julia
Manifest.toml
LocalPreferences.toml
.CondaPkg/

# Spack
.spack-env/
spack.lock

# Output files
*.json
*.tar.xz
*.tar.gz
*.tar
*.jsonl
*.jld2
*.bson
*.png
*.pdf
*.h5
*.csv
*.tar.xz
*.tar.gz
*.tar
*.jsonl
*.jld2
