#!/bin/bash
{%- from "./utils.j2" import cliopts, export_env, export_job_config %}
#SBATCH --job-name {{ name or "mist" }}
#SBATCH --partition {{ partition or "defq" }}
#SBATCH --nodes {{ nodes or 1 }}
#SBATCH --ntasks-per-node {{ gpus_per_node or 8 }}
#SBATCH --gpus-per-node {{ gpus_per_node or 8 }}
#SBATCH --time {{ walltime or "4:0:0" }}
#SBATCH --cpus-per-task 12
#SBATCH --mem-per-cpu 200G
#SBATCH --export=NONE
{%- if requeue %}
#SBATCH --signal=USR1@90
#SBATCH --requeue
#SBATCH --open-mode=append
{%- endif %}

set -ex
module load slurm

# Move to git root
cd $(git rev-parse --show-toplevel)

TMPDIR=${TMPDIR:-/tmp}

# Set env variables
env_file="${TMPDIR}/env-${SLURM_JOB_ID}.sh"
cat > ${env_file}<<EOF
{{- export_env( env ) }}
EOF
source ${env_file}
sbcast -fp ${env_file} ${env_file}

{{ export_job_config( __config__ ) }}

# Write out  lightning config
PL_CONFIG="${TMPDIR}/lightning-${SLURM_JOB_ID}.json"
cat > ${PL_CONFIG}<<EOF
{%- if stage is not none %}
{{ {stage: train } | tojson }}
{%- else %}
{{ train | tojson }}
{%- endif %}
EOF

sbcast -fp "${PL_CONFIG}" "${PL_CONFIG}"
cat ${PL_CONFIG}

{%- if requeue %}
# Look for a requeue checkpoint
ckpt="./mist/requeue/${SLURM_JOB_ID}"
if [ -d "$ckpt" ]; then
    export PL_FIT__CKPT_PATH="$ckpt"
    export WANDB_ID="$(basename $(dirname $(realpath $ckpt)))"
    export WANDB_RESUME="must"
fi
{%- endif %}

srun --mpi=pmix \
$(which apptainer) exec \
--bind /lustre/fs0,$TMPDIR \
--nv \
--env-file ${env_file} \
{{ container }} \
${PWD}/submit/set_node_rank \
{%- if nsys is defined %}
nsys profile \
      {{- cliopts( nsys ) | indent }} \
{%- endif %}
    /mist/.venv/bin/python {{ program or "${PWD}/train.py" }} --config ${PL_CONFIG}
