#!/bin/bash
{%- from "./utils.j2" import cliopts, export_job_config %}

# Training script for h001
set -e

# Move to git root
export PBS_O_WORKDIR=$(git rev-parse --show-toplevel)
cd ${PBS_O_WORKDIR}

# MPI and OpenMP settings
export NRANKS=1

# Activate Environment
spack env activate .
source activate

{{- export_job_config( __config__ ) }}
export PL_CONFIG='{{ {"fit": train } | tojson }}' 

{%- if nsys is defined %}
nsys profile \
      {{- cliopts( nsys ) | indent }} \
{%- endif %}
mpiexec \
    {{- cliopts( mpiexe ) | indent }} \
    python3 train.py fit
