#!/bin/bash
#SBATCH -p {{ queue or "venkvis-cpu" }}
#SBATCH --cpus-per-task {{ cpus_per_task or 1 }}
#SBATCH --ntasks {{ world_size or 64 }}
#SBATCH --mem-per-cpu 1800M
#SBATCH --time {{ walltime or "1:0:0" }}

# Move to git root
cd $(git rev-parse --show-toplevel)

# Activate Environment
module purge
module --ignore_cache load gcc python/3.11.5 openmpi/4.1.6
source ./activate

srun --mpi=pmix \
    julia --project=opt/TokenizerStats --startup-file=no -- opt/TokenizerStats/tokenizer_stats.jl \
    --canonical \
    --output {{ output }} \
    {{ data }} \
    {{ tokenizer }}

